<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeacherPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03C3E5431EAD8D3200427E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C3E55C1EAD8D3200427E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C3E5671EAD8D3200427E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
